 html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.container {
  height: 100%;
}
.margin-bottom-25 {
  margin-bottom:  25px;
}
.margin-top-20 {
  margin-top: 20px;
}
#map {
  height: 100%;
}
